<footer class="footer bg-dark py-3 mt-auto">
    <div class="container text-center">
        <span style="color: white">
            &copy; 
            <a 
                href="https://portfolio-aiub.vercel.app/" 
                target="_blank" 
                rel="noopener noreferrer"
                style="color: white; text-decoration: none;"
            >
                Check out my profile ! 
            </a>
        </span>
    </div>
</footer>
