<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center"> New Topic</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="POST" enctype="multipart/form-data">  <!--Encypt for image input-->
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]">
            </div>
            <div class="mb-3">
                <label class="form-label" for="source">Source of information </label>
                <div class="input-group">
                    <span class="input-group-text" id="source-label"> .pdf/.com </span>
                    <input type="text" class="form-control" id="source" placeholder="book.website url" aria-describedby="source-label">
                </div>
            </div>
            <input type="file" name="image" id="" multiple>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]"></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Topic</button>
            </div>
        </form>
        <a href="/campgrounds">All Topics</a>
    </div>
</div>